@import model.Database.StockOption
@import java.util.Locale

@(sehkcode: Int, stockName: String, options: List[StockOption])

@optionDescription(stockOption: StockOption) = {
    <td>@stockOption.name</td> <td> @stockOption.optionType</td> <td> @stockOption.strikePrice </td> <td> @stockOption.expiryDate.toString("MMMyy", Locale.US) </td>
}

<p>@sehkcode @stockName Stock option list</p>

<div class="modal-body">
    <table class="table">
        <tbody>
        @options.map { stockOption =>
            <tr>@optionDescription(stockOption)</tr>
        }
        </tbody>
    </table>
</div>