@import model.Database.StockOption
@import model.Database.StockOptionHistory
@import model.Database.Stock
@import model.Database.StockHistory
@import org.joda.time.DateTime

@import java.util.Locale
@(stock: Stock, stockHistory: StockHistory, date: DateTime, stat: Statistic, expiryDays: List[DateTime], strikePrice: List[Int], infoMap: Map[(DateTime, Int, Character), AnyVal], dateType: String)

@tableHeader(expiryDays: List[DateTime]) = {
    <th>Strike Price</th>
    <th>Call</th>
    @for(p <- expiryDays) {
        <th>@p.toString("MMMyy", Locale.US)</th>
    }
    <th>Put</th>
    @for(p <- expiryDays) {
        <th>@p.toString("MMMyy", Locale.US)</th>
    }
}

@tableRow(strikePrice: Int, expiryDays: List[DateTime], infoMap: Map[(DateTime, Int, Character), AnyVal]) = {
    <td>@(strikePrice/1000.0f)</td>
    <td></td>
    @for(p <- expiryDays){
        <td>@infoMap.get((p, strikePrice, 'C'))</td>
    }
    <td></td>
    @for(p <- expiryDays){
        <td>@infoMap.get((p, strikePrice, 'P'))</td>
    }
}

@stockCodeSelect(selectedStock: Stock) = {
    <select name="asset" class="form-control" id="assetViewBy">
    @for(p <- StockOption.stockFullList){
        @if(selectedStock.sehkCode.map(p._1==).getOrElse(false)) {
            <option selected value="@p._1">@p._1 - @p._2</option>
        } else {
            <option value="@p._1">@p._1 - @p._2</option>
        }
    }
    </select>
}

@main("Super rich fund stock option worksheet"){
    <div class="container">
        <div class="row">
            <h2>@stock.name @date.toString("yyyy-MM-dd", Locale.US)</h2>
            <a href="@routes.Application.detailOpenInterest(stock.sehkCode.getOrElse(0L) toInt, date.toString("yyyy-MM-dd", Locale.US))">Open Interest</a>
            <a href="@routes.Application.detailSettlePrice(stock.sehkCode.getOrElse(0L) toInt, date.toString("yyyy-MM-dd", Locale.US))">Settle price</a>
        </div>

        <div class="row">
            <form class="form-inline" action="javascript:void(0)">
                @stockCodeSelect(stock)

                <div class="form-group">
                    <div class='input-group date' id='datetimepicker1'>
                        <input type='text' class="form-control" id="dateTimePicker" name="date"/>
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
                <script type="text/javascript">
                        $(function () {
                            $('#datetimepicker1').datetimepicker({
                                defaultDate: "@date.toString("MM/dd/yyyy", Locale.US)"
                            });
                        });
                </script>

                <input type="button" class="btn btn-primary" onclick="redirectPage();" value="Submit" />
            </form>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <table class="table">
                    <tr style="background-color:powderblue"><th colspan="2">Current</th></tr>
                    <tr><td>Close price:</td><td>@stockHistory.closePrice</td></tr>
                    <tr><td>Opening price:</td><td>@stockHistory.openPrice</td></tr>
                    <tr><td>Daily high:</td><td>@stockHistory.dailyHigh</td></tr>
                    <tr><td>Daily low:</td><td>@stockHistory.dailyLow</td></tr>
                    <tr><td>Volume:</td><td>@stockHistory.volume</td></tr>
                </table>
            </div>

            <div class="col-sm-6">
                <table class="table">
                    <tr style="background-color:powderblue"><th colspan="2">History from @stat.startDate.toString("yyyy-MM-dd", Locale.US) to @stat.endDate.toString("yyyy-MM-dd", Locale.US)</th></tr>
                    <tr><td>Highest price</td><td>@stat.max</td></tr>
                    <tr><td>Lowest price</td><td>@stat.min</td></tr>
                    <tr><td>Average price</td><td>@stat.mean</td></tr>
                    <tr><td>standard deviation</td><td>@stat.stddev</td></tr>
                </table>
            </div>
        </div>

    </div>

    <div class="container-fluid">
        Stock option list: <br/>

        <table class="table">
            <tr>@tableHeader(expiryDays)</tr>
            @for(p <- strikePrice){
                <tr>@tableRow(p, expiryDays, infoMap)</tr>
            }
        </table>
    </div>


    <script>
        function redirectPage(){
            var date =document.getElementById("dateTimePicker").value;

            var assetCtrl = document.getElementById("assetViewBy");
            var asset = assetCtrl.options[assetCtrl.selectedIndex].value;

            var url="@if(dateType=="settlePrice") { @routes.Application.detailSettlePrice(0, date.toString("yyyy-MM-dd", Locale.US)) } else { @routes.Application.detailOpenInterest(0, date.toString("yyyy-MM-dd", Locale.US)) }"

            url=url.trim()
            url=url.replace("0", asset);

            try{
                var date2 = moment(date, "MM/DD/YYYY HH:mm A").format("YYYY-MM-DD")
                url=url.replace("@date.toString("yyyy-MM-dd", Locale.US)", date2);
            }
            catch(err) { }

            window.location.href=url

        }
    </script>
}
